<mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">

  <mat-tab label="Sve"></mat-tab>

  <mat-tab label="Na čekanju"></mat-tab>

  <mat-tab label="Odobreno"></mat-tab>

  <mat-tab label="Odbijeno"></mat-tab>

</mat-tab-group>



<div class="filter-search-bar">

  <button mat-button color="warn" class="filter-button" [matMenuTriggerFor]="filterMenu">

    <mat-icon>filter_alt</mat-icon>

  </button>



  <mat-menu #filterMenu="matMenu" class="filter-menu">

    <div class="filter-section">

      <div class="filter-title">SORTIRAJ PO:</div>

      <mat-radio-group [(ngModel)]="selectedSort" (change)="applySort()">

        <mat-radio-button class="filter-radio" value="mostProjects">Najviše projekata</mat-radio-button>

        <mat-radio-button class="filter-radio" value="leastProjects">Najmanje projekata</mat-radio-button>

        <mat-radio-button class="filter-radio" value="oldestReg">Najstarija registracija</mat-radio-button>

        <mat-radio-button class="filter-radio" value="newestReg">Najnovija registracija</mat-radio-button>
        <mat-radio-button class="filter-radio" value="oldestStatus">Status (Najstarije)</mat-radio-button>
        <mat-radio-button class="filter-radio" value="newestStatus">Status (Najnovije)</mat-radio-button>
      </mat-radio-group>

    </div>



    <mat-divider></mat-divider>



    <div class="filter-section">

      <div class="filter-title">ORGANIZACIJE:</div>

      <mat-radio-group [(ngModel)]="selectedStatus" (change)="applyFilter(getTabStatusFilter())">

        <mat-radio-button class="filter-radio" value="Sve">Svi</mat-radio-button>

        <mat-radio-button class="filter-radio" value="Aktivne">Aktivni</mat-radio-button>

        <mat-radio-button class="filter-radio" value="Neaktivne">Neaktivni</mat-radio-button>

      </mat-radio-group>

    </div>

  </mat-menu>



  <mat-form-field appearance="outline" class="search-field">

    <mat-label>Pretraži organizaciju po imenu ili emailu</mat-label>

    <input matInput [(ngModel)]="searchTerm" (input)="applySearch()">

    <button mat-icon-button matSuffix disabled>

      <mat-icon>search</mat-icon>

    </button>

  </mat-form-field>

</div>



<table mat-table [dataSource]="dataSource" class="mat-elevation-z1 zebra-table" matSort>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Naziv organizacije</th>
    <td mat-cell *matCellDef="let org">
      <div>{{ org.name }}</div>
      <div class="sub-email">{{ org.email }}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="registrationDate">
    <th mat-header-cell *matHeaderCellDef>Registracija</th>
    <td mat-cell *matCellDef="let org">
      <span [ngClass]="org.activity === 'Aktivna' ? 'active' : 'inactive'">
    ● {{ org.activity }}
  </span><br />
      {{ org.registrationDate | date: 'd/MMM/yyyy' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef style="padding-left:40px;">Status</th>
    <td mat-cell *matCellDef="let org">
      <span class="badge" [ngClass]="getStatusClass(org.status)">● {{ org.status }}</span><br />
      <div style="padding-left: 10px;"> {{org.statusDate | date: 'd/MMM/yyyy' }}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="projects">
    <th mat-header-cell *matHeaderCellDef>Broj projekata</th>
    <td mat-cell *matCellDef="let org" style="padding-left:50px;">{{ org.projectCount }}</td>
  </ng-container>

  <ng-container matColumnDef="more">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let org" style="width:20px;">
      <button mat-icon-button [matMenuTriggerFor]="organizationMenu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #organizationMenu="matMenu" class="organization-actions-menu">
        <div class="menu-section-title">PROMIJENI STATUS</div>
        <mat-radio-group [(ngModel)]="org.status" (change)="changeOrganizationStatus(org, $event.value)">
          <button mat-menu-item value="Odobreno" class="status-menu-item-button">
            <mat-radio-button class="status-radio-button hidden-radio-dot" value="Odobreno">
              <span class="green">● Odobreno</span>
            </mat-radio-button>

          </button>
          <button mat-menu-item value="Odbijeno" class="status-menu-item-button">
            <mat-radio-button class="status-radio-button hidden-radio-dot" value="Odbijeno">
              <span class="red"> ● Odbijeno</span>
            </mat-radio-button>

          </button>
          <button mat-menu-item value="Na čekanju" class="status-menu-item-button">
            <mat-radio-button class="status-radio-button hidden-radio-dot" value="Na čekanju">
              <span class="orange">● Na čekanju </span>
            </mat-radio-button>

          </button>
        </mat-radio-group>

        <mat-divider></mat-divider>
        <div class="menu-section-title user-section-title">KORISNIK</div>
        <button mat-menu-item class="delete-button" (click)="confirmDeleteOrganization(org)">
          Izbriši korisnički nalog <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let org">
      <button mat-button class="link view-more-button" (click)="viewOrganizationDetails(org)">Vidi više</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<mat-paginator [length]="dataSource.data.length"
               [pageSize]="5"
               [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons>
</mat-paginator>
