<div class="container">
  <header>
    <div class="weather-info">
      <span class="icon prognoza">☀️</span>
      <div class="time-date-group">
        <h1 id="current-time">{{ currentTime }}</h1> <h2>Sunčano</h2> </div>
    </div>
    <div class="date-info time-date-group">
      <h1>Danas:</h1>
      <h2 id="current-date">{{ currentDate }}</h2> </div>
  </header>

  <section>
    <h2 class="section-title">Trenutno aktivni događaji</h2>
    <div class="current-events">
      <div class="card">
        <div class="card-header">
          <div class="date-badge">
            <span>10</span>
            <span>DEC</span>
          </div>
          <h3>Akcija pošumljavanja</h3>
          <p>Skakavac</p>
        </div>
        <div class="card-content">

          <p>⏰ 8:30 - 15:00 &nbsp;&nbsp; | &nbsp;&nbsp; 100 mjesta preostalo</p>
        </div>
        <div class="card-footer">
          <div class="info">
            <img src="https://shorturl.at/IXOmx" alt="Organizator">
            <span>Naziv organizatora</span>
          </div>
          <button>Više</button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="section-title">Moji događaji</h2>
    <div class="my-events">
      <div class="event-card create-event">
        <span class="plus-icon">➕</span>
        <span>Kreiraj događaj</span>
      </div>




    </div>
  </section>
</div>
